<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apitests.Postrequest"/>
      <class name="apitests.DeleteRequest"/>
      <class name="apitests.PutRequest"/>
      <class name="mytest.Mytests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
